# Entorno virtual
.venv/
venv/
env/

# Caché de Python
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Base de datos SQLite
*.db
*.sqlite
*.sqlite3

# Variables de entorno
.env
.env.*

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db